.gallery {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 15px;
  padding: 15px;
}

.gallery-item {
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  background: #fff;
}

.gallery-item img {
  width: 100%;
  height: 170px;
  object-fit: cover;
  display: block;
}

.info .meta {
  display: flex;
  justify-content: space-around;
  padding: 8px 16px;
}

.stat {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 11px;
}

.stat-title {
  font-weight: 600;
  color: #666;
  margin-bottom: 4px;
}

.stat-value {
  font-weight: 500;
  color: #333;
}

.loader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  z-index: 9999;
  display: none;
}

.loader.is-visible {
  display: block;
}

.loader:before , .loader:after{
  content: '';
  border-radius: 50%;
  position: absolute;
  inset: 0;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.3) inset;
}
.loader:after {
  box-shadow: 0 2px 0 #FF3D00 inset;
  animation: rotate 2s linear infinite;
}

@keyframes rotate {
  0% {  transform: rotate(0)}
  100% { transform: rotate(360deg)}
}
